@import 'materialize';

body {
    background-color: #f0ead6;
}

.input-field input[type=search]:focus:not(.browser-default) {
    background-color: transparent;
}

.header {
    text-align: center;
    color: #26a69a;
}

form {
    padding: 2rem !important;
    background-color: #f5f2e8;

    .row:last-of-type {
        margin-bottom: 0;
    }
}

input[type=text], input[type=number] {
    padding: 0 5px !important;
}

label {
    margin-top: -3px;
}

.book-submit-wrap {
    text-align: right;

    .book-submit {
        width: 100%;
        max-width: 13rem;
    }
}


.centeredToast{
    left: 0;
    right: 0;
}

.display {
    margin-top: 3rem;
    min-height: 340px;
}

.card {

    hr {
        margin-top: 1.5rem;
    }

    &-footer {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-close {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        transition: all 300ms;
    
        &:hover {
            color: #26a69a;
        }
    }
}

.display-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin-bottom: 2rem;
}

.hide-book {
    display: none;
}

.book-read-No {
    @extend .red, .darken-1
}